.track-item {
  display: flex;
  height: 6vh;
  width: 100%;
  align-items: center;
  background-color: var(--mat-sys-surface-variant);
  cursor: pointer;
}

.track-item-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 0.8em;
}

.track-item-duration {
  font-size: 0.6em;
  margin-left: auto;
  margin-right: 1em;
}

.track-item:hover {
  filter: brightness(125%);
}

:host(.playing) .track-item {
  background-color: var(--mat-sys-primary);
}

:host(.playing) .track-item:hover {
  filter: brightness(100%);
}

.cover-art {
  width: 2em;
  height: auto;
}
