:host {
  display: block;
  height: calc(
    100vh - var(--top-bar-height) - var(--player-controls-bar-height) - var(--twilight-bar-height)
  );
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
}
