@import url('tailwindcss');

body {
  background-color: var(--mat-sys-surface-container-lowest);
  color: var(--mat-sys-secondary);
  line-height: 2.2rem;
}

/* Variables */

:root {
  --top-bar-height: 60px;
  --twilight-bar-height: 40px;
  --player-controls-bar-height: 60px;
}
